section.p-b-65.p-t-55.bg-primary-dark.xs-full-width.vh-90
    .inner.full-height
        .col-sm-5.full-height
            .container-xs-height.full-height
                .col-xs-height.col-middle.text-left
                    h1.secondary-font.text-white
                        | Book your cleaning service in a few clicks
                    br
                    a.btn.btn-primary-light.btn-lg.btn-block
                        h6
                            .text-uppercase.font-secondary.text-size-18 Book now
        .col-sm-7
            img.img-responsive(src='images/iphone.png')
