section.vh-80(data-pages='parallax', data-pages-bg-image="assets/images/hero_1.jpg")
  .inner.full-height
    .container-xs-height.full-height
      .col-xs-height.col-middle.text-left
        .container
          .col-sm-6.col-sm-offset-3.sm-m-t-30.sm-p-t-20.sm-p-b-20
            h1.font-secondary.text-center.text-black.xs-p-t-30.sm-p-b-30
              | Hello world / Привет мир
