section.p-b-65.p-t-55.xs-full-width
    .container.full-height
        #testimonials.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .container
                        .col-sm-8.col-sm-offset-2
                            h3.text-center
                                | Our motivation "Perfection simplified" helps to
                                | craft meaningful experiences for the people around us, This mission inspires us
                                | to jump out of bed each day and guides every aspect of what we
                                | do.
                            img.m-t-20(alt='', src='assets/images/signature_sample.png')
                .swiper-slide Slide 2
                .swiper-slide Slide 3
            .swiper-pagination
